.main-wrapper {
    margin-top: 50px;
    color: white;
    position: relative;
    max-width: 480px;
    width: 100%;
    background: rgb(25, 27, 31);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    border-radius: 24px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.swap-header {
    padding: 1rem 1.25rem 0.5rem;
    width: 100%;
    color: rgb(255, 255, 255);
}

.swap-row {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 600;
    font-size: 16px;
}

.swap-body-outer-wrapper {
    position: relative;
    padding: 8px;
}

.swap-body-inner-wrapper {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 8px;
}

.swap-input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: 20px;
    background-color: rgb(44, 47, 54);
    z-index: 1;
    width: initial;
    transition: height 1s ease 0s;
    will-change: height;
}

.swap-input {
    border-radius: 20px;
    border: 1px solid rgb(25, 27, 31);
    background-color: rgb(33, 36, 41);
    width: initial;
}

.swap-input-panel {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem;
}

.swap-input-panel input {
    filter: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0s;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 0px;
    position: relative;
    font-weight: 500;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background-color: rgb(33, 36, 41);
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    appearance: textfield;
}

.swap-input-btn {
    align-items: center;
    background-color: rgb(44, 47, 54);
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    user-select: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    height: 2.4rem;
    padding: 0px 8px;
    justify-content: space-between;
    margin-left: 12px;
}

.swap-input-btn img,
.token-wrapper img {
    width: 25px;
    border-radius: 50%;
    margin: 0rem 0.25rem;
    cursor: pointer;
}

.swap-input-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swap-input-btn svg {
    margin: 0px 0.5rem;
    cursor: pointer;
}

.swap-input-balance-wrapper {
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.2rem;
    font-weight: 550;
    font-size: 14px;
    color: rgb(143, 150, 172);
}

.swap-down-arrow {
    padding: 4px;
    border-radius: 45%;
    height: 30px;
    width: 30px;
    position: relative;
    left: calc(50% - 16px);
    background-color: rgb(33, 36, 41);
    border: 4px solid rgb(25, 27, 31);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.exchage-rate-wrapper {
    margin: 1.5rem 1rem;
    font-size: 14px;
}

.swap-btn {
    background-color: rgb(33, 114, 229);
    color: white;
    padding: 16px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.modal-dialog {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal-content {
    background-color: rgb(25, 27, 31) !important;
    border: 1px solid rgb(33, 36, 41) !important;
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px !important;
    padding: 0px !important;
    width: 50vw !important;
    overflow: hidden auto !important;
    align-self: center !important;
    max-width: 420px !important;
    max-height: 80vh !important;
    min-height: 80vh !important;
    display: flex !important;
    border-radius: 20px !important;
    color: white;
}

.swap-modal-header {
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.token-wrapper {
    margin: 0.3rem 0rem;
    padding: 1.3rem 1rem;
    border-radius: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.token-wrapper img {
    margin: 0px 0.75rem;
}

.token-wrapper span {
    margin-left: 0.5rem;
    font-size: 12px;
    color: rgb(143, 150, 172);
}

.token-wrapper:hover {
    background-color: rgb(33, 36, 41);
}

.token-modal-close {
    padding: 1rem 0rem;
    border-radius: 14px;
    margin: 10px 5px;
    color: white;
    background-color: rgb(33, 36, 41);
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
}